body {
  background-image: url(./background5.jpg);
  background-size: 100% 120%;
  background-position: top;}

.App {
  text-align: left;
  margin-left: 10%;
  font-family: "Roboto";
  width: 90%;
}

h2 {
  margin-top: 3%;
  margin-right: 4%;
  margin-bottom: 5%;
  color: white;
  letter-spacing: 2px;
  text-align: right;
  font-size: 28px;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  margin-top: 5%;
  margin-bottom: 15%;
  color: white;
  letter-spacing: 2px;
}

h3 {
  width: 500px;
  font-size: 28px;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
}

h4 {
  margin-top: -2%;
  margin-left: 1.5%;
  font-size: 18px;
  width: 500px;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
}

input, button {
	width: 80%; 
	height: 50px; 
	border-radius: 8px;
	font-size: 20px; 
	margin-top: 5%;
	margin-left: 8%;
	padding-left: 12px;
}

button {
	margin-left: 8%;
	margin-top: 10%;
	margin-bottom: 8%;
	width: 85%; 
	background-color: orange;
	color: white;
}


.grid {
	display: grid;
	grid-template-columns: 60% 30%;
}

.grid2 {
	background-color: white;
}

.grid2 h3 {
	margin-left: 8%;
	color: black;
  	letter-spacing: 1px;
}

.grid2 h4 {
	margin-left: 8%;
	color: black;
  	letter-spacing: 1px;
  	width: 80%;
  	line-height: 24px;
}

.modal h3 {
	margin-left: 4%;
	color: black;
  	letter-spacing: 1px;
  	width: 250px;
  	font-size: 20px;
}

.modal button {
	width: 80%; 
}

@media screen and (max-width: 500px) {
	body {
		background-size: 100% 60%;
	}

	.grid {
		display: grid;
		grid-template-columns: 100%;
	}

	.grid2 {
		width: 90%;
		margin-bottom: 10%;
	}

	h3 {
		width: 100%;
	}

	h4 {
		width: 90%;
	}
}

